.menu{
    display: flex;
    width: 100%;
    position: fixed;
    align-items: center;
    justify-content: center;
    height: 80px;
    gap: 20px;
    z-index: 999;
    background-color: rgb(207, 124, 124);
}

.s1{
     background-color: #ffffff;
     color: black;
     height: 100vh;
     padding-top: 80px;
     display: flex;
     flex-wrap: wrap;
     align-items: center;
     justify-content: center;
     gap: 20px;
}

.left{
    width: 250px;
    height: 250px;
    border-radius: 100%;
    overflow: hidden;
    box-shadow: 0px 3px 20px #0000007c;

}

.perfil{
    width: 250px;
    height: 250px;
    transition: all 200ms ease-in-out;
}

.perfil:hover{
    transform: scale(1.1);
}
.right{
    width: 500px;
}

.titlle {
    font-size: 30px;
    font-weight: bold;
}

.paragraph{
    font-size: 21px;
}

.rodape{
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #b33e2193;
  border-top: 2px solid #b36d5b5b;
}

.rodape a{
  transition: all 500ms ease-in-out;
  border-radius: 999px;
  overflow: hidden;
}

.rodape a:hover{
  transform: translateY(-15px) scale(1.3); 
}

.s4{
    background-color: #ffffff;
    color: black;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 50vh;
    height: auto;
    padding: 50px;
    gap: 50px;
}

.s4 h2{
    color: rgba(87, 24, 24, 0.829);
    font-size: 56px;
    letter-spacing: 10px;
    font-weight: bold;
}

.formData{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
    border-radius: 20px;
    border: 2px solid #c7432293;
    box-shadow: 0px 3px 20px #b36d5b5b;
    padding: 20px;

}

.formData label{
    text-align: left;
    width: 100%;
    margin-bottom: -7px;

}

.formData input{
    padding: 10px;
    width: 100%;
    border-radius: 5px;
    border: none;
    border: 2px solid  #b33e2193;
}

.formData textarea{
    width: 300px;
    height: 70px;

}

.formData button{
    padding: 10px;
    border: none;
    border: 2px solid  #b33e2193;
    border-radius: 5px;
    width: 100%;
    opacity: 0.7;
} 


.formData button:hover{
    cursor: pointer;
    opacity: 1;
}


.foto{
    width: 500px;
    height: 300px;
    transition: all 200ms ease-in-out;
}

.s5{
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: center;
   min-height: 70vh;
   padding: 20px;
   text-align: center;
   gap: 20px;

}


.foto{
    width: 800px;
    height: 500px;
    transition: all 200ms ease-in-out;
}

.foto:hover{
    transform: scale(1.1);
}

.foto input{
    padding: 10px;
    width: 100%;
    border-radius: 5px;
    border: none;
    border: 2px solid  #b33e2193;

}

.s2{
    display: flex;
    flex-direction: column;
    gap: 50px;
    padding: 50px;
}

.tecTitlle{
    width: 100%;
    text-align: center;
    color: #ffffff;
    font-size: 56px;
    letter-spacing: 10px;
    font-weight: bold;
}

.wrapCards{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: 20px;
}


@media (widht <=760px) {
    .s1{
        padding-top: 50px;
        gap: 0;
    }

    .left {
        width: 300px;
        height: 300px;
    }

    .perfil {
        width: 300px;
        height: 300px;
    }

    .right {
        padding: 20px;
        margin-top: -150px;
    }
    .s4 h2{
    font-size: 56px;
    letter-spacing: 10px;
}

}