*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: Georgia, 'Times New Roman', Times, serif;
  scroll-behavior: smooth;
}

body{
  background-color: rgb(139, 25, 25);
  color: #ffffff;
}


a{
  text-decoration: none;
  color: #ffff;
  opacity: 0.8;
  transition: all 200ms ease-in-out;
  font-size: 20px;
}

a:hover{
  cursor: pointer;
  opacity: 1;
  text-decoration: underline;
}